.solutions {
  background: url("/img/Circle-of-hands.png") no-repeat;
  background-size: cover;
  background-position: center center;
  padding-top: em(80);
  padding-left: em(70);
  overflow: hidden;
}